@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

#root {
    scroll-behavior: smooth;
    background-color: white;
}

#nav {
    background-color: white;
    /* background: transparent; */
}

#nav-brand {
    color: black;
    font-family: 'Comfortaa', cursive;
    font-size: 1.6rem;
}

#nav-link {
    color: black;
    font-family: 'Poppins', sans-serif;
}

#nav-link-dropdown {
    color: black;
    font-family: 'Poppins', sans-serif;
}

#nav-link-active {
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: #3978D3;
    border-width: 0.06rem;
    border-style: solid;
    border-radius: 2rem;
}

#hero {
    background-color: black;
    background: url('./3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding-bottom: 10rem;
}

#hero-heading {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
}

#hero-para {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

#hero-para-company {
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
}

#hero-btn {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

#hero-btn-container {
    background-color: #3978D3;
    border-radius: 2rem;
}

#para-btn {
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
}

#hero-btn-2 {
    color: white;
    background-color: transparent;
    border-radius: 2rem;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border-color: #3978D3;
    border-width: 0.06rem;
    border-style: solid;
    transition: 0.2s;
    /* width: 9rem; */
}

/* #hero-btn:hover {
    box-shadow: 0rem 0rem 2rem 0.6rem #3978D3;
} */

#img-hero {
    margin-top: -10rem;
}

/* #img-card-hero {
    box-shadow: 0.2rem 0.2rem 4rem 0.2rem #3978D3;
} */

#hero-card-img {
    background-color: #f0eee4;
    border-radius: 0.4rem;
}

#hero-heading-2 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
}

#hero-para-2 {
    color: black;
    font-family: 'Poppins', sans-serif;
}

#hero-btn-2 {
    color: white;
    background-color: black;
    border-radius: 2rem;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    width: 12rem;
}

#foot {
    background-color: black;
}

#foot-logo {
    color: white;
    font-family: 'Comfortaa', cursive;
}

#copyright-logo {
    color: white;
    font-family: 'Poppins', sans-serif;
}

#foot-nav-link {
    color: white;
    font-family: 'Poppins', sans-serif;
}

#price {
    background-color: black;
    height: 26rem;
}

#price-heading {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
}

#price-para {
    color: white;
    font-family: 'Poppins', sans-serif;
}

#price-card {
    margin-top: -8rem;
}

#price-card-1-heading {
    color: black;
    font-family: "Poppins", sans-serif;
}

#price-card-1-rs {
    color: black;
    font-family: "Poppins", sans-serif;
}

#price-card-1-li {
    color: black;
    font-family: "Poppins", sans-serif;
}

#price-card-1-btn {
    border-radius: 2rem;
    border-color: black;
    color: black;
}

#price-card-1-btn:hover {
    background-color: black;
    color: white;
}

#price-card-2-heading {
    color: black;
    font-family: "Poppins", sans-serif;
}

#price-card-2-rs {
    color: black;
    font-family: "Poppins", sans-serif;
}

#price-card-2-li {
    color: black;
    font-family: "Poppins", sans-serif;
}

#price-card-2-btn {
    border-radius: 2rem;
    border-color: black;
    background-color: black;
    color: white;
}

#price-card-3-heading {
    color: black;
    font-family: "Poppins", sans-serif;
}

#price-card-3-rs {
    color: black;
    font-family: "Poppins", sans-serif;
}

#price-card-3-li {
    color: black;
    font-family: "Poppins", sans-serif;
}

#price-card-3-btn {
    border-radius: 2rem;
    border-color: black;
    background-color: black;
    color: white;
}

#price-card-3-border {
    border-color: lightgray;
    background-color: lightgray;
}

#price-card-3-heading-bg {
    background-color: lightgray;
}

#contact {
    background-color: black;
}

/* #contact-white-portion {
    background-color: whitesmoke;
    border-radius: 0.6rem;
    margin-top: -14rem;
} */

#gmail-btn {
    color: white;
    background-color: #3978D3;
    border-radius: 2rem;
    font-family: 'Poppins', sans-serif;
}

#meta-btn {
    color: white;
    background-color: #3978D3;
    border-radius: 2rem;
    font-family: 'Poppins', sans-serif;
}

#instagram-btn {
    color: white;
    background-color: #3978D3;
    border-radius: 2rem;
    font-family: 'Poppins', sans-serif;
}

#contact-heading {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
}

#contact-heading-para {
    color: white;
    font-family: 'Poppins', sans-serif;
}

#contact-para {
    color: black;
    font-family: 'Poppins', sans-serif;
}

#about {
    background-color: black;
    height: 26rem;
}

/* #about-white-portion {
    background-color: whitesmoke;
    border-radius: 0.6rem;
    margin-top: -8rem;
} */

#about-heading {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
}

#about-heading-para {
    color: white;
    font-family: 'Poppins', sans-serif;
}

#about-para {
    color: black;
    font-family: 'Poppins', sans-serif;
}

#hero-video-container {
    border-radius: 0.6rem;
}

#hero-video-col {
    border-style: solid;
    border-width: 0.06rem;
    border-color: #3978D3;
    border-radius: 0.6rem;
}

#hero-video {
    margin-top: -4rem;
}

/* #hero-primary {
    background-color: #3978D3;
} */

#middle-para {
    font-family: 'Poppins', sans-serif;
    color: black;
}

#hero-para-heading {
    font-family: 'Poppins', sans-serif;
    color: black;
}

#hero-para-heading-2 {
    font-family: 'Poppins', sans-serif;
    color: black;
}

#hero-para-heading-3 {
    font-family: 'Poppins', sans-serif;
    color: black;
}

#hero-para-heading-4 {
    font-family: 'Poppins', sans-serif;
    color: black;
}

#email-img {
    width: 2rem;
    height: 2rem;
}

#facebook-img {
    width: 2rem;
    height: 2rem;
}

#instagram-img {
    width: 2rem;
    height: 2rem;
}

#call-img {
    width: 2rem;
    height: 2rem;
}

#showcase {
    background-color: black;
}

#showcase-para-heading {
    color: white;
    font-family: 'Poppins', sans-serif;
}

#showcase-heading {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
}

#showcase-para {
    color: white;
    font-family: 'Poppins', sans-serif;
}

#price-compare-heading {
    color: black;
    font-family: 'Poppins', sans-serif;
}

#price-compare-img {
    width: 1rem;
    height: 1rem;
}

#price-compare-column-heading {
    color: black;
    font-family: 'Poppins', sans-serif;
}

#price-compare-row-heading {
    color: black;
    font-family: 'Poppins', sans-serif;
}

#hero-img-company-name {
    width: 2rem;
    height: 2rem;
}

#hero-para-company-name {
    color: white;
    font-family: 'Poppins', sans-serif;
}

#img-para-1 {
    width: 15rem;
    height: 15rem;
}

/* #img-container {
    background: url("./hero-5.png");
} */

#img-features {
    width: 2.8rem;
    height: 2.8rem;
}

#para-features {
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    border-style: solid;
    border-width: 0.06rem;
    border-color: #3978D3;
    background-color: white;
    border-radius: 2rem;
}

#col-card {
    border-style: solid;
    border-width: 0.06rem;
    border-color: #3978D3;
    background-color: transparent;
    border-radius: 0.6rem;
}

#heading-card {
    color: black;
    font-family: "Poppins", sans-serif;
}

#para-card {
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
}

#img-card {
    width: 3rem;
    height: 3rem;
}

#heading-main-card {
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
}

#heading-left-aligned-section {
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    color: black;
}